<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StackPilot</title>
    <link rel="stylesheet" href="../styles/table.css">
</head>
<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Server Name</th>
                            <th>Port</th>
                            <th>Root Path</th>
                            <th>Command</th>
                            <th>Git Branch</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="serverTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
